<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs"); %>
    <title>Projects</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", {page: "projects"}); %>
    <main>
      <h1>My projects</h1>
    </main>
    <%- include("../partials/footer.ejs"); %>
  </body>
</html>
