<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs"); %>
    <title>Skills</title>
  </head>
  <body>
    <%- include("../partials/header.ejs", {page: "skills"}); %>
    <main>
      <h1>My skills</h1>
    </main>
    <%- include("../partials/footer.ejs"); %>
  </body>
</html>
